﻿.button-finish {
    display: flex;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
}
.finish-link-button{
    width: 100%;
}
.finish-link-button:hover {
    background-color: #007bff;
}

a {
    text-decoration: none;
    color: black;
}
